body {
    margin: 5px;
    background-color: #fdf8f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px; /* Adjust padding as needed */
    position: relative; /* Ensure navbar stays on top */
    z-index: 10; /* Keep navbar above video */
}

.nav-image {
    height: auto; /* Maintain aspect ratio */
}

.left {
    width: 200px; /* Size for left image */
}

.right {
    width: 150px; /* Size for right image */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Hide overflow */
}

video {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire container */
}

.slider {
    color: #eee;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}
.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 80px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Poppins;
    text-shadow: 0 0 80px #000;
}
.slider .list .item .content h2 {
    font-size: 10em;
    font-family: 'Bebas Neue';
    line-height: 0.9em;
    grid-row-start: 1;
    grid-row-end: 3;
}
.slider .list .content p:last-child {
    display: flex;
    align-items: end;
    font-size: 1em;
    color: #e0e0e0;
    padding-bottom: 25px;
}
.slider .list .image {
    flex-shrink: 0;
    width: var(--diameter);
    height: var(--diameter);
    background-image: var(--url);
    background-position: center;
    background-size: var(--diameter) var(--diameter);
    border-radius: 50%;
    position: relative;
}
.slider .list .item .image::before,
.slider .list .item .image::after {
    position: absolute;
    width: 70%;
    height: 70%;
    content: '';
    border-radius: 50%;
    background-image:
        linear-gradient( to right, #0004, #0004),
        var(--url);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: var(--diameter) var(--diameter);
}
.slider .list .item .image::after {
    width: 30%;
    height: 30%;
    background-image: var(--url);
}

.slider .list .content h2 {
    transform: translateY(-100%);
    transition: transform 1s;
}
.slider .list .item .image {
    transform: rotate(-60deg);
    filter: blur(30px);
    transition: transform 1s;
}
.slider .list .item .image::before {
    transform: translate(-50%, -50%) rotate(-120deg);
    transition: transform 1s;
}
.slider .list .item .image::after {
    transform: translate(-50%, -50%) rotate(-170deg);
    transition: transform 1s;
}
.slider .list .item {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}

.slider .list .item.active {
    opacity: 1;
    pointer-events: auto;
}
.slider .list .item.active .content h2 {
    transform: translateY(0);
}
.slider .list .item.active .image {
    transform: rotate(0);
    filter: blur(0);
}
.slider .list .item.active .image::before,
.slider .list .item.active .image::before {
    transform: translate(-50%, -50%) rotate(0);
}
.slider .list .item.active ~ .item {
    opacity: 0;
}
.slider .list .item.active ~ .item .content h2 {
    transform: translateY(100%);
}
.slider .list .item.active ~ .item .image {
    transform: rotate(60deg);
    filter: blur(30px);
}
.slider .list .item.active ~ .item .image::before {
    transform: translate(-50%, -50%) rotate(120deg);
}
.slider .list .item.active ~ .item .image::after {
    transform: translate(-50%, -50%) rotate(170deg);
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: var(--width-df);
    display: flex;
    justify-content: space-between;
}
.arrow .button {
    all: unset;
    cursor: pointer;
}
.slider .list::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: min(1000px, 100vw);
    background-image: url(ev2.png);
    height: 99%;
    background-size: cover;
    background-position: top;
    pointer-events: none;
    animation: showModel 1s ease-in-out 1 forwards;
}
@keyframes showModel {
    from {
        transform: translateX(-50%) scale(1.5) translateY(88px);
    }
}
